*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html{
    ---primary-color: #115e59;
    ---secondary-color: #2dd4bf;
    ---other-color: #facc15;
}

body{
    background-color: var(---secondary-color);
    position: relative;
}

.header{ 
    display: grid;
    grid-auto-flow: column;
    /* justify-: center;
    align-items: center; */
    background-color: var(---primary-color);
    width: 100vw;
    height: 4rem;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    z-index: 1;
    position: fixed;
    top: 0;
}

.header > div{
    justify-self: start;
    align-self: center;
    color: var(---other-color);
    font-size: 2.5rem;
    margin-left: 4rem;
}

.header > p{
    align-self: center;
    color: var(---other-color);
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 50px;


}

.card{
    display: relative;
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.2);
    max-width: 350px;
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}

.card > div{
    width: 100%;
    overflow: hidden;
}

.card > p{
    padding: 5px 15px;
}

.icons-div{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    column-gap: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-right: 10px ;
    height: 1.5rem;
    place-items: center;
}

.icons-div > i:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .2s;
    color: red;
}

.icons-div > button:hover{
    cursor: pointer;
}


.read-status{
    background-color: red;
    height: 1.2rem;
    font-size: 0.8rem;
    padding: 2px 4px;
    color: white;
    text-align: center;
    border-radius: 8px;
    border: none;
}

.read-status2{
    background-color: green;
    height: 1.2rem;
    font-size: 0.8rem;
    padding: 2px 4px;
    color: white;
    text-align: center;
    border-radius: 8px;
    border: none;
}

.bk-title{
    font-size: 1.2rem;
    font-weight: 600;
}

.bk-author{
    font-style: italic;
}

.bk-pages{
    font-size: 1rem;
    font-style: italic;
    color: var(---secondary-color);
    
}

.book-image > img{
    width: 350px;
    max-width: 500px;
    height: 200px;
}

.newbook-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 80px 0 10px 20px;
    padding: 0 8px;
    width: 10rem;
    height: 3rem;
    background-color: var(---primary-color);
    color: var(---other-color);
    font-size: 1.2rem;
    border: none;
    position: sticky;
    top: 80px;
    z-index: 2;
}

.newbook-btn:hover{
    cursor: pointer;
    color: var(--primary-color);
    background-color: white;
    border: 2px solid var(---primary-color);

}

.form-group{
    position: absolute;
    top: 3rem;
    left: 25rem;
    display: none;
    animation-name: modal-open;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    transform: scale(1);
}

@keyframes modal-open {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}



.close-icon{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    color: rgb(241, 157, 157);
}

.close-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: red;
}

.form{
    background-color: white;
    width: 30rem;
    height: 26rem;
    padding: 15px 20px 0 45px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    
}

.form > h3{
    text-align: center;
    color: var(---primary-color);
    margin-bottom: 15px;
}

input{
    padding:  0 10px;
    outline: none;
    border-bottom: 2px solid black;
    border-top: none;
    border-right: none;
    width: 22rem;
}

input.valid{
    border-bottom: 2px solid greenyellow; 
 
}

input.invalid{
    border-bottom: 2px solid #fd0004 ;
}

#read, #unread{
    width: 1rem;
}

.add-btn{
    width: 6rem;
    height: 2rem;
    margin-top: 15px;
    background-color: var(---primary-color);
    font-size: 1rem;
    color: white;
    border: 2px solid var(---secondary-color);
}

.add-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s;
}

.error{
    color: red;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: -30px;
    font-style: italic;  
}